#logo{
    width: 100%;
}

#Profile{
    padding-bottom: 50px;
}

#testimonals {
    background-color: darkgrey;
    
}

.home-testimonial{
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

/* to center flex-items */
.flex-item {
    margin: auto;
}

.container {
    border-top: 2%;
}
